@import "variables";
.container {
  display: grid;
  width: 940px;
  grid-template-rows: repeat(5, auto);
  grid-gap: 10px;
}

h1, h3, h4 {
  font-family: $text-font;
}

h3, h4, span {
  font-weight: bold;
  text-align: center;
}

h3 {
  color: black;
}

h4, span {
  color: blue;
}

header {
  width: 100%;
}

.NAV {
  background-color: $main-color;
  font-family: $text-font;
}

li {
  display: inline-block;
  padding: 8px 16px;
}

li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

aside, main, section  {
  display: flex;
}

.content > div {
  display: block;
  border: 10px solid gray;
  margin: 5px;
}

.Sample {
  padding: 10px;
}

hr {
  border: 10px solid $main-color;
  width: 940px;
}

.Sample_for > div {
  padding: 5px;
  margin: 5px;
}

section {
  background-color: burlywood;
  height: 120px;
}

article {
  padding: 2px;
  margin: 2px;
}

footer {
  text-align: center;
  font-family: sans-serif;
}